@use "_animacionesPortadaIzquierda.scss";
@use "_animacionesPortadaDerecha.scss";

@mixin fullsizeLeft($top: 0vh, $positionX: 0vw, $rotate: 0deg, $size: 10rem, $time: 2s, $name: none) {
    width: $size;
    top: $top;
    left: $positionX;
    transform: rotate($rotate);

    -webkit-animation: reverse $name $time ease;
    -moz-animation: reverse $name $time ease;
    animation: reverse $name $time ease;
}

@mixin fullsizeRight($top: 0vh, $positionX: 0vw, $rotate: 0deg, $size: 10rem, $time: 2s, $name: none) {
    width: $size;
    top: $top;
    right: $positionX;
    transform: rotate($rotate);

    -webkit-animation: reverse $name $time ease;
    -moz-animation: reverse $name $time ease;
    animation: reverse $name $time ease;
}

@mixin responsive($size: 10rem, $time: 2s, $margin: 0rem) {
    margin: $margin;
    width: $size;
    height: $size;
    -webkit-animation: reverse TabletAnimation $time ease;
    -moz-animation: reverse TabletAnimation $time ease;
    animation: reverse TabletAnimation $time ease;
}
/*******************************Main********************************/
.main {
    width: 100%;
    min-height: 145vh;
    height: auto;
    position: relative;
    padding: 2rem;
}

.imagenFondo {
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -20;
    object-fit: cover;
    top: 0;
    left: 0;
}

.iconoProgramacion {
    width: 10rem;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: scale-down !important;
    position: absolute;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.iconoProgramacion:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


/* iconos izquierda */

.JS { @include fullsizeLeft(44vh, 13vw, -10deg, 7rem, 2.5s, entradaJS)}
.SQL { @include fullsizeLeft(50vh, 21vw, 0deg, 12rem, 3s, entradaSQL)}
.JAVA { @include fullsizeLeft(90vh, 20vw, -10deg, 14rem, 3.5s, entradaJAVA)}
.REACT { @include fullsizeLeft(20vh, 2vw, 0deg, 9rem, 2.5s, entradaREACT)}
.HTML { @include fullsizeLeft(95vh, 2vw, 10deg, 10.5rem, 3s, entradaHTML)}
.CSS { @include fullsizeLeft(65vh, 1vw, 10deg, 7.5rem, 3.5s, entradaCSS)}
.ANGU { @include fullsizeLeft(20vh, 20vw, 15deg, 9rem, 2.5s, entradaANGU)}
.TYPE{ @include fullsizeLeft(75vh, 15vw, 0deg, 7rem, 3s, entradaTYPE)}
.ASTRO { @include fullsizeLeft(122vh, 11vw, 0deg, 9rem, 2.5s, entradaASTRO)}

/* iconos derecha */

.TAIL { @include fullsizeRight(115vh, 15vw, -15deg, 11rem, 2.5s, entradaTAIL)}
.NEXT { @include fullsizeRight(45vh, 28vw, 0deg, 9rem, 3s, entradaNEXT)}
.FLUTTER { @include fullsizeRight(70vh, 20vw, -10deg, 9rem, 3.5s, entradaFLUTTER)}
.DART { @include fullsizeRight(95vh, 2vw, 0deg, 9rem, 2.5s, entradaDART)}
.SPRING { @include fullsizeRight(10vh, 20vw, 15deg, 15rem, 3s, entradaSPRING)}
.PYTHON { @include fullsizeRight(65vh, 2vw, -15deg, 10rem, 3.5s, entradaPYTHON)}
.SASS { @include fullsizeRight(95vh, 28vw, -15deg, 10rem, 2.5s, entradaSASS)}
.NODE { @include fullsizeRight(43vh, 12vw, 0deg, 10rem, 2.5s, entradaNODE)}
.DOCKER { @include fullsizeRight(20vh, 2vw, 0deg, 9rem, 3s, entradaDOCKER)}

@media only screen and (max-width: 1000px) {
    .main {
        padding: 2rem;
        padding-top: 10rem;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        align-content: flex-end;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .iconoProgramacion {
        position: relative;
        width: 120px;
        height: 120px;
        object-fit: fill;
        top: auto;
        left: auto;
        right: auto;
        transform: rotate(0deg);
    }

    @-moz-keyframes TabletAnimation{
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes TabletAnimation {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .JS { @include responsive(8rem, 0.3s, 0rem)}
    .SQL { @include responsive(10rem, 0.4s, 0rem)}
    .JAVA { @include responsive(10rem, 0.5s, 0rem)}
    .REACT { @include responsive(10rem, 0.6s, 0rem)}
    .HTML { @include responsive(11rem, 0.7s, 0rem)}
    .TYPE{ @include responsive(8rem, 0.8s, 1rem)}
    .ANGU { @include responsive(10rem, 0.9s, 0rem)}
    .CSS { @include responsive(8.5rem, 1s, 0rem)}
    .TAIL { @include responsive(10rem, 1.1s, 0rem)}
    .NEXT { @include responsive(9rem, 1.2s, 0.5rem)}
    .FLUTTER { @include responsive(10rem, 1.3s, 0rem)}
    .DART { @include responsive(9rem, 1.4s, 0rem)}
    .SPRING { @include responsive(13rem, 1.5s, -0.5rem)}
    .PYTHON { @include responsive(10rem, 1.6s, 0rem)}
    .ASTRO { @include responsive(10rem, 1.7s, 0rem)}
    .SASS { @include responsive(10rem, 1.8s, 0rem)}
    .NODE { @include responsive(9rem, 1.9s, 0rem)}
    .DOCKER { @include responsive(7rem, 2s, 0rem)}
}


@media only screen and (min-width: 2500px) {

    .iconoProgramacion {
        transform: scale(1.5);
    }

    .iconoProgramacion:hover {
        transform: scale(1.7);
    }

}