---
import Cursos from "./Cursos.astro"
---
<section class="flex flex-col items-center gap-12 w-screen bg-Fondo-Estrellas ">
    <p
        class="w-fit h-auto flex justify-center text-blancoEstrella font-bold text-5xl"
    >
        Estudios
    </p>
    <div class="w-screen h-auto grid grid-flow-row !justify-center p-8 gap-x-12 gap-y-10 items-center grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        <Cursos
            link="/"
            image="/defaultFoto.webp"
        />
        <Cursos
            link="/"
            image="/defaultFoto.webp"
        />
        <Cursos
            link="/"
            image="/defaultFoto.webp"
        />
    </div>
</section>